$--primary-color : #06283D;
@import '../common/_global.scss';

.container {
  display: flex;
}

.left {
  width: 20%;
  min-width:200px;
  flex-shrink: 0;
  min-height: 100vh;
  //flex: 0;
  background: $--primary-color;
  color:#fff;
  font-weight: 800;
  letter-spacing: 2px;

  > ul {
    padding: 5rem 2rem;
    position: sticky;
    top:0;

    li {
      margin-bottom: 3rem;
    }
  }

}

.right {
  flex: 1;
  min-width: 824px;
  min-height:100vh;
  background:var(--primary-bg-color);
}
