.container {
  position: relative;
  padding: 1rem;
  padding-bottom: 4rem;

  .floating { // 플로팅 박스
    position: fixed;
    right:2rem;
    bottom: 2rem;
    width: 120px;
    border: 1px solid #7895B2;
    border-radius: 10px;
    &__item {

      padding: .5rem 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      > span {
        margin-left: 5px;
      }
    }
    &__item:not(:last-child) {
      border-bottom: 1px solid #bbb;
    }
  }
}

.header {
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;

}

section.event__image {
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
  .preview__image {
    width: 100%;
    position: relative;
    min-height:300px;
    > img {
      width: 100%;
    }
  }
}

section.event__keyvisual {
  margin: 2rem 0;
  >p {
    font-weight: 600;
    margin-top:2rem;
    margin-bottom: 1rem;
  }
}
section.event__info {
  margin-top: 1rem;
  border-top: 1px solid #bbb;
  padding-top: 1rem;

}

.tutorial1 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.tutorial2 {
  margin-bottom: 1rem;
  font-weight: 600;
}
.hookForm {
  $height: 50px;

  > div {
    margin-bottom: 1.5rem;
  }

  label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: .8rem;
  }

  select {
    border: none;
    width: 80%;
    padding: .7rem;
    box-shadow: 0 0 10px rgba(#7895B2, 0.4);
  }
  input {
    font-size: 1rem;
    padding: .8rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(#7895B2, 0.4);
    //border-radius: $height / 2;
    height: $height;
    width: 80%;
  }
  textarea {
    width: 80%;
    height: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(#7895B2, 0.4);
    resize:none;
    padding: 1rem;
  }

  .coord__box {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap:1rem;


    .closeBtn {
      display: inline-block;
      position: absolute;
      right: 0.6rem;
      top:0.6rem;
      transition: all 0.3s;
    }
    .closeBtn:hover {
      cursor:pointer;
      //transition: all 0.2s;
      opacity: 0.6;
    }

    .coord__item {
      position: relative;
      padding: 0 10px;
    }

    > div {
      min-width:200px;
      box-shadow: 0 0 5px rgba(#7895B2,0.9);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      //align-items: center;

      > p {
        margin-top: 1.5rem;
        font-size: 1rem;
        margin-bottom: .5rem;
      }

      > div {
        margin-bottom: 1rem;
      }

      label {
        font-size: .9rem;
      }

      input {
        height: 1rem;
      }
    }


  }
}

button.btn {
  &__rndBox, &__eventAdd  {
    background-color:#7895B2;
    color:white;
    margin-right: 10px;
  }

  &__submitForm {
    width: 100%;
    font-weight: 800;
    color: #f2f2f2;
    font-size: 1.3rem;
    padding: 1.5rem;
    margin-top: 1.7rem;
    background-color:#00ABB3;
  }
}

.form {
  &__errors {
    color: red;
    font-size: 0.8rem;
    transform: translateY(-10px);
  }
}

.react_draggable_custom {
  border: 1px solid #d63031;
  background-color:rgba(255,255,255,0.5)
}