:root {
  --header-height:70px;
}
html {
  --primary-bg-color : #f9f9f9;
  --secondary-bg-color: #fff;
  --black-font-color: #191919;
  --primary-btn-color:#3B5CF6;
}

.html.dark {
  --primary-bg-color : #bbb;
  --secondary-bg-color: #fff;
}


