//section {
//  margin: 1rem 0 ;
//}
.container {
  max-width: 1380px;
  min-width: 769px;
  padding-bottom: 4rem;
  margin: 0 auto;
  //padding: 0 20px;
  width: 80%;

  .section__title {
    margin-top: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    padding: .8rem;
    color: rgba(0,0,0,0.6);
  }
}

.top__banner {
  width: 100%;
  height: 300px;
  //background-color: #8992B0;
  display: flex;
  margin-top: 2rem;

  .left {
    margin-top: 2.5rem;
    flex: 1;
    .intro__title {
      font-weight: 700;
      margin-bottom: 2rem;
      font-size: 2rem;
      line-height: 44px;
    }
    .intro__description {
      padding-right: 0.8rem;
      font-weight: 500;
      color: rgba(0,0,0,0.8);
      line-height: 24px;
    }

  }

  .right {
    flex: 1;
    //background-color: #f9f9f9;
    padding: 0 1rem;
    .info__box {
      width: 100%;
      margin: 0 auto;
      margin-top: 8rem;
      border-radius: 20px;
      height: 150px;
      background-color:rgba(#F4FAFF,1);
      display: flex;
      align-items: center;
      //&__item:not(:last-child) {
      //  border-right: 1px solid #243FFF;
      //}
      &__item {
        flex:1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;


        &__top {
          >span:nth-child(1) {
            color: #243FFF;
            font-size: 1.7rem;
            font-weight: 700;
          }
          >span:nth-child(2) {
            color: #243FFF;
            font-size: .9rem;
            font-weight: 500;
            margin-left: .2rem;
          }
        }
        &__bottom {
          text-align: center;
          margin-top: .7rem;
          font-size: .8rem;
          color: rgba(0,0,0,0.7);
          line-height: 18px;
        }
      }
    }
  }
}

.category {

  margin-top: 1rem;

  >ul {
    display: flex;
    > li {
      margin-right: 10px;
      padding: 1rem 2rem;
      border: 10px;
      border-radius: 1.4rem;
      transition: all 0.2s;
      //background-color: ;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    > li.active {
      color: #fff;
      background-color: #3B5CF6;
    }
    li:hover:not(.active) {
      color: white;
      background-color:#bbb;
    }
  }

}

.event {
  .card__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 20px;

    .card__item {
      height: 280px;
      background-color: #7895B2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;

      .top {
        height: 70%;
        background-color: #f9f9f9;

      }

      .bottom {
        height: 30%;
        padding: .7rem;
        background-color: #fff;

        .title {
          margin-bottom: .8rem;
          font-size: 1rem;
        }

        > .date {
          font-size: .9rem;
        }
      }
    }

  }

  &__open {

    > h3 {

    }


  }

  &__closed {

  }

  &__pending {

  }
}

.image__wrap {
  width: 100%;
  height: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.seperator__horizontal {
  width: 1px;
  background-color:#243FFF;
  height: 6rem;

}

.loader__wrap {
  //display: inline-block;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}